yc_token              = ""
yc_cloud_id           = ""
yc_folder_id          = ""
yc_zone               = "ru-central1-b"
family_images_windows = "windows-2022-dc-gvlk"
cores                 = "2" # Examples: 2, 4, 6, 8 and more
memory                = "2" # Examples: 2, 4, 6, 8 and more
disk_size             = "50" # Min 50 for Windows
disk_type             = "network-ssd" # Examples: network-ssd, network-hdd, network-ssd-nonreplicated
pdc_admin_password    = ""
pdc_hostname          = "dc2022"
pdc_domain            = "domain.test"
pdc_domain_path       = "dc=domain,dc=test"
