yc_token         = ""
yc_cloud_id      = ""
yc_folder_id     = ""
yc_zone          = "ru-central1-c"
family_images_pdc = "windows-2022-dc-gvlk"
windows_password = ""
hostname         = "dc2022"
pdc_domain       = "domain.test"
pdc_domain_path  = "dc=domain,dc=test"
