yc_token         = ""
yc_cloud_id      = ""
yc_folder_id     = ""
yc_zone          = "ru-central1-b"

family_images_windows = "windows-2022-dc-gvlk"
family_images_linux = "ubuntu-2004-lts"

windows_password = ""
pdc_hostname         = ""
pdc_domain       = ""
pdc_domain_path  = ""
pswd_gitlab_ldap_sync = ""
pswd_test_user_in_pdc = ""

gitlab_hostname     = "gitlab"
letsencrypt_domain  = "sslip.io"
